::selection{color:#fff;background:#48abb5;}
::-moz-selection{color:#fff;background:#48abb5;}
::-webkit-selection{color:#fff;background:#48abb5;}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif
}
.bg-gray{
	background-color: #DDDDDD;
	border: solid 1px #DDDDDD;
	border-radius: 3px;
	display: inline-block;
	padding: 10px;
}
.content{
	margin-top: 10px;
	margin-bottom:10px;
}
.code-section{
	padding: 5px
}

.link{
	display: inline-block;
	margin: 5px;
	padding: 3px;
	font-size: 14px;
	color: #567d95;
}
.link:hover{
	text-decoration: none;
}
#aLinks{
	margin: 20px;
}