<!doctype html>
<html>
<head>
    <meta charSet="utf-8" />
    <link rel="shortcut icon" href="public/img/pb16x16.ico" title="B_Pt">
    <title>pengbo.me</title>
</head>
<body>
<div id="root"></div>
</body>
</html>
